{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            <label for="resetPasswordEmail">Enter your user account's verified email address and we will send you a password reset link.</label>
            <input type="email" id="resetPasswordEmail" placeholder="Enter your email address"/>

            <input type="submit" value="Send password reset email" class="btn btn-success btn-block">
        </form>

    </div>
{% endblock %}