{% extends 'base.html.twig' %}

{% block title %}Snow Tricks{% endblock %}

{% block body %}
        <div class="hero-image">
                <div class="hero-text">
                        <h1 style="font-size:80px">Snow Tricks</h1>
                        <h3>La communauté</h3>
                        <button class="btn btn-primary">En savoir plus</button>
                </div>
        </div>
        <h1>TEST</h1>


{% endblock %}
