.littlePhoto,
.bigPhoto {
        cursor: pointer;
}

.bigPhoto {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:
            rgba(
                    0,
                    0,
                    0,
                    0.4
            );
        z-index: 10;
        display: none;
        align-items: center;
        justify-content: center;
}

.bigPhoto img {
        height: 90%;
        border: 4px white solid;
        border-radius: 5px;
}
